<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <!-- Injects a value into a handlebars file -->
        <img class="mountain" src="/img/IMG_0555.JPG" alt="Colorado Trees" />
        <p>
            This project was completed through a tutorial via Andrew Mead's <a
                href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/">"The Complete Node.js
                Developer Course (3rd Edition)"</a> course.
        </p>
        <p>
            Technologies and tools used to craft this project include Node.js, Express, Vanilla JavaScript, HTML, and
            CSS. APIs used include the <a href="https://openweathermap.org/api">Open Weather Map API</a> and the <a
                href="https://docs.mapbox.com/api/overview/">Mapbox API</a>. Care was also taken to implement ES6
            updates such as object property shorthand, destructuring, and default function parameters whenever
            reasonably possible.
        </p>
        <p>
            I have elaborated on what Andrew taught by adding more styles and by calling a different API than the one he
            uses in the course.
        </p>
        <p>
            Overall, this was a great project to become familiar with calling APIs using Node and Express. The
            implementation of Handlebars on the front-end was something completely new to me, as well as the idea of
            partials. This project also helped me to realize the importance of .env and .gitignore files for the
            purposes of securing API keys and other potentially sensitive information.
        </p>
        <p>
            I look forward to utilizing what I've learned from this project to build out similar apps, such as a college
            cost estimator or perhaps an air quality forecaster.
        </p>
    </div>

    {{>footer}}

</body>

</html>