<!-- This, a partial, represents only part of an HTML document -->
<!-- Partials can be loaded into static views -->
{{!-- Values like "name" come from the ./src/app.js file. --}}
<footer>
    <p>Created by <a href="https://github.com/mgermaine93">{{name}}</a></p>
</footer>