<!-- This, a partial, represents only part of an HTML document -->
<!-- Partials can be loaded into static views -->

<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>