<!-- This, a partial, represents only part of an HTML document -->
<!-- Partials can be loaded into static views -->
<h1>{{title}}</h1>

<div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>