body {
  /* Fonts */
  color: #333333;
  font-family: arial;

  /* Margins */
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  /* Flexbox */
  display: flex;
  flex-direction: column;

  /* 100% of the viewport height */
  min-height: 100vh;
}

/* Main content */

.main-content {
  /* The element will take up all leftover space */
  flex-grow: 1;
}

/* Footer */

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

footer p a {
  text-decoration: none;
  color: #888888;
}

footer p a:hover {
  background: rgb(135, 206, 250, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
  color: black;
}

/* Header */
header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
  transition: 0.3s;
}

header a:hover {
  color: #333333;
}

/* Photo */

.mountain {
  width: 250px;
}

/* Input box */

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

/* Button */

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
  opacity: 0.6;
  transition: 0.3s;
}

button:hover {
  background: #008000;
  transition: 0.5s;
}
